@page "/NotFound"

<h1>404 - Page not found</h1>
<p>We're sorry, but the page you requested could not be found.</p>

<PageTitle>Not found</PageTitle>
<LayoutView Layout="@typeof(MainLayout)">
    <p role="alert">Sorry, there's nothing at this address.</p>
</LayoutView>

@code {

}
